[submodule "submodules/ServerCore"]
	path = submodules/ServerCore
	url = https://github.com/monetas/ServerCore
[submodule "submodules/libbitmessage"]
	path = submodules/libbitmessage
	url = https://github.com/corebob/libbitmessage
