[submodule "submodules/websocketpp"]
	path = submodules/websocketpp
	url = https://github.com/monetas/websocketpp.git
[submodule "submodules/jsonrpc-cpp"]
	path = submodules/jsonrpc-cpp
	url = https://github.com/monetas/JsonRpc-Cpp.git
